<div class="row">
  <div class="col-3">
    <!-- list of categories -->
    <product-filter  [category]="category"></product-filter>
  </div>
  <div class="col">
    <!-- //display products -->
    <div class="row" *ngIf="cart$ | async as cart">
      <ng-container *ngFor=" let p of products; let i=index">
        <div class="col ">
          <app-product-card [product]="p " [shopping-cart]="cart"></app-product-card>
        </div>
        <!-- // we render this line break after every two products  -->
        <div *ngIf="(i+1)%2===0 " class="w-100 "></div>
      </ng-container>
    </div>
  </div>
</div>
