<p>
  <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>
<p>
    <!-- filter products event -->
    <!-- <input
    #query 
    (keyup) ="filter(query.value)"
    type="text" class="form-control" placeholder="Search..."> -->
    <input
    type="text" [(ngModel)]="searchInput" class="form-control" placeholder="Search...">
</p>

<!-- Filter Products by title, price etc -->

<data-table 
    [items]="items | filterCategories: searchInput"
    [itemCount]="itemCount"
    (reload) = "reloadItems($event)"
>

<data-table-column
    [property]="'title'"
    [header]="'Title'"
    [sortable]="true"
    [resizable]="true"
>
</data-table-column>

<data-table-column
    [property]="'price'"
    [header]="'Price'"
    [sortable]="true"
    [resizable]="true"
>
<ng-template #dataTableCell let-item="item">
    {{item.price | currency: 'EUR' : true}}
</ng-template>
</data-table-column>

<!-- adding edit links -->
<data-table-column
    [property]="'$key'"
>
<ng-template #dataTableCell let-item="item">
    <a [routerLink] = "['/admin/products/', item.$key]">Edit</a>
</ng-template>
</data-table-column>

</data-table>
<!-- 
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of filteredProducts">
            <td> {{ product.title }} </td>
            <td> {{product.price}} </td>
            <td>
            </td>
        </tr>
    </tbody>
</table> -->
